@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<article>
    
    <h1>Our History</h1>

    <p>
        Kebab is inspired by the best of Mediterranean and Dutch campo cooking, by late night street food in Rotterdam and backyard cookouts in Thessaloniki. 
        Everything at Kebab is made from scratch - from the bread we stone-bake hourly, to our fresh herb sauces, and our hand cut Belgian fries. 
        We use free-range, hormone and antibiotic-free meat from local purveyors, and non-GMO bread flour from a worker-owned mill.
        Our mission is to bring you honest, delicious food the combines ingredients you’d find in a fine dining kitchen with the love and laissez-faire feel of backyard pop-up.
    </p>
    
    
    
    
    
    
    
    







</article>
