@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Muldur Kebap House</h1>
 
    <p class="lead">Taste is our signature.</p>
    <p><a href="https://muldurkebap.com">Muldur Kebap House Offical Website <span class="glyphicon glyphicon-cutlery"></span></a></p>
    <p> Please login to be able to order. If you're a first time user please register first.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Discover Our Story</h2>
        <p>
            Our menu is varied and features plenty of delicious selections in addition to traditional donair, lamb and kebabs, chicken marinated in special spices and prepared on an open grill. 
            Be sure to save room for one of our desserts baklava, puddings and kunefe.
        </p>
     
    </div>
</div>