@{
    ViewBag.Title = "Home Page";
}

<div class=" row text-center">
    <img class="img-circle" src="~/Content/Images/muldurlogo.png" width="300" height="200" />
    <p class="lead">Taste is our signature.</p>
    <p class="glyphicon-indent-left">Ozan Mulr.</p>
    <p> ITS GONNA HAPPEN!</p>

</div>

<div class="row">
   

        <div class="card col-md-4">
            <img class="card-img-top img-thumbnail" src="~/Content/Images/middle.jpg" width="300" height="200" alt="Card image cap">
            <h5 class="card-title">Real Middle Eastern Cuisine</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur..
            </p>
            
        </div>
  


<div class="card col-md-4">
    <img class="card-img-top img-thumbnail" src="~/Content/Images/organic.jpg" width="300" height="200" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Organic Food</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur..
        </p>

    </div>
    
</div>

    <div class="card col-md-4">
        <img class="card-img-top img-thumbnail" src="~/Content/Images/award.jpg" width="300" height="200"  alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Our Awards</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur..
            </p>

        </div>
    </div>


</div>


    <div class="row">
        <div class="col-md-6">
            <h2>Discover Our Story</h2>
            <p>
                Popularly known as a great brand of Bursa in the worldwide, the history of Iskender Kebab is based on 150 years ago. It was discovered by a butcher, Iskender Bey (1848-1934). Therefore its name ‘’Iskender’’ comes from him.

                Once upon a time, the meat products like lamb, sheep and lamb shawarma were served as a whole on the open oven burned with the wood. They were cooked in direct proportion to chimbly but later, this cooking method was changed by Usta Iskender Bey ("Chef Alexander").
            </p>
        </div>




        <figure class="figure col-md-6">
            <img src="~/Content/Images/history.jpeg" class="figure-img img-fluid rounded col-md-12" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption text-left">Iskender Kebab Bursa.</figcaption>
        </figure>


    </div>

