@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1> Muldur KH Menu</h1>

<h2>Meals</h2>

<ul>
    <li>Iskender Kebap</li>
    <li>Adana Kebap</li>
    <li>Urfa Kebap</li>
    <li>Lamb Kebap</li>
    <li>Beyti Kebap</li>

</ul>

<h2>Salad</h2>

<ul>
    <li>Coban Salad</li>
    <li>Greek Salad</li>
    <li>Ceaser Salad</li>

</ul>

<h2>Dessert</h2>

<ul>
    <li>Kunefe</li>
    <li>Baklava</li>
    <li>Kazandibi</li>

</ul>